Repository danieleschmidt/spin-torque-rl-gym, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danieleschmidt, @maintainer, @devops-team, @security-team, @core-developers, @physics-team, @qa-team, @performance-team, @technical-writers, @community-team, @sre-team, @legal-team, @product-managers, @data-team, @database-team, @research-team, @data-scientists, @integration-team, @release-team

feat: establish project foundation and implement core physics functionality
  spin_torque_gym/devices/__init__.py
  spin_torque_gym/devices/base_device.py
  spin_torque_gym/devices/device_factory.py
  spin_torque_gym/devices/stt_mram.py
  spin_torque_gym/envs/__init__.py
  spin_torque_gym/envs/spin_torque_env.py
  spin_torque_gym/physics/__init__.py
  spin_torque_gym/physics/energy_landscape.py
  spin_torque_gym/physics/llgs_solver.py
  spin_torque_gym/physics/materials.py
  spin_torque_gym/physics/thermal_model.py
  spin_torque_gym/rewards/__init__.py
  spin_torque_gym/rewards/composite_reward.py
Owners: @danieleschmidt, @core-developers, @physics-team

feat: setup dev environment and implement data persistence layer
  spin_torque_gym/config.py
Owners: @danieleschmidt, @core-developers

Update README.md
  README.md
Owners: @danieleschmidt, @technical-writers

feat: complete Generation 1 implementation - MAKE IT WORK
  spin_torque_gym/devices/__init__.py
  spin_torque_gym/devices/base_device.py
  spin_torque_gym/devices/device_factory.py
  spin_torque_gym/devices/skyrmion_device.py
  spin_torque_gym/devices/sot_mram.py
  spin_torque_gym/devices/stt_mram.py
  spin_torque_gym/devices/vcma_mram.py
  spin_torque_gym/envs/__init__.py
  spin_torque_gym/envs/array_env.py
  spin_torque_gym/envs/skyrmion_env.py
  test_generation1.py
Owners: @danieleschmidt, @core-developers, @physics-team, @maintainer

test(env,devices): add comprehensive integration and unit tests
  spin_torque_gym/devices/skyrmion_device.py
  spin_torque_gym/devices/sot_mram.py
  spin_torque_gym/devices/stt_mram.py
  spin_torque_gym/devices/vcma_mram.py
  spin_torque_gym/envs/spin_torque_env.py
  tests/integration/test_environment.py
  tests/unit/test_devices.py
Owners: @danieleschmidt, @core-developers, @physics-team, @qa-team

feat(env): add simplified LLGS solver and enhance environment monitoring
  spin_torque_gym/envs/spin_torque_env.py
  spin_torque_gym/physics/__init__.py
  spin_torque_gym/physics/energy_landscape.py
  spin_torque_gym/physics/simple_solver.py
  spin_torque_gym/rewards/__init__.py
  spin_torque_gym/rewards/base_reward.py
  spin_torque_gym/utils/__init__.py
  spin_torque_gym/utils/monitoring.py
  spin_torque_gym/utils/performance.py
Owners: @danieleschmidt, @core-developers, @physics-team

feat(optimization): complete Generation 3 performance optimizations
  spin_torque_gym/physics/simple_solver.py
Owners: @danieleschmidt, @core-developers

feat(quality): complete Quality Gates with comprehensive validation
  security_scan.json
  spin_torque_gym/__init__.py
  spin_torque_gym/config.py
  spin_torque_gym/devices/__init__.py
  spin_torque_gym/devices/base_device.py
  spin_torque_gym/devices/device_factory.py
  spin_torque_gym/devices/skyrmion_device.py
  spin_torque_gym/devices/sot_mram.py
  spin_torque_gym/devices/stt_mram.py
  spin_torque_gym/devices/vcma_mram.py
  spin_torque_gym/envs/__init__.py
  spin_torque_gym/envs/array_env.py
  spin_torque_gym/envs/skyrmion_env.py
  spin_torque_gym/envs/spin_torque_env.py
  spin_torque_gym/physics/__init__.py
  spin_torque_gym/physics/energy_landscape.py
  spin_torque_gym/physics/llgs_solver.py
  spin_torque_gym/physics/materials.py
  spin_torque_gym/physics/simple_solver.py
  spin_torque_gym/physics/thermal_model.py
  spin_torque_gym/rewards/__init__.py
  spin_torque_gym/rewards/base_reward.py
  spin_torque_gym/rewards/composite_reward.py
  spin_torque_gym/utils/__init__.py
  spin_torque_gym/utils/monitoring.py
  spin_torque_gym/utils/performance.py
Owners: @danieleschmidt, @maintainer, @core-developers, @physics-team

feat(utils): add advanced caching, concurrency, health, logging, scaling, security, validation
  spin_torque_gym/devices/device_factory.py
  spin_torque_gym/physics/simple_solver.py
  spin_torque_gym/utils/cache.py
  spin_torque_gym/utils/concurrency.py
  spin_torque_gym/utils/health.py
  spin_torque_gym/utils/logging_config.py
  spin_torque_gym/utils/scaling.py
  spin_torque_gym/utils/security.py
  spin_torque_gym/utils/validation.py
  test_generation1_complete.py
  test_generation1_fixed.py
  test_generation2_robust.py
  test_generation3_scale.py
  test_generation3_simplified.py
  test_quality_gates.py
Owners: @danieleschmidt, @core-developers, @maintainer

feat(error-handling): add comprehensive error handling system
  spin_torque_gym/utils/error_handling.py
Owners: @danieleschmidt, @core-developers

feat(monitoring): add advanced monitoring and observability system
  spin_torque_gym/utils/advanced_monitoring.py
Owners: @danieleschmidt, @core-developers

feat(security): add comprehensive security and validation system
  spin_torque_gym/utils/security_validation.py
Owners: @danieleschmidt, @core-developers

feat(performance): add comprehensive performance optimization system
  spin_torque_gym/utils/performance_optimization.py
Owners: @danieleschmidt, @core-developers

feat(testing): add comprehensive test suite and quality gates
  test_basic_functionality.py
  test_core_functionality.py
  test_quality_gates_simplified.py
Owners: @danieleschmidt, @maintainer

feat(sdlc): complete autonomous SDLC implementation with quantum leap
  AUTONOMOUS_SDLC_SUMMARY.md
Owners: @danieleschmidt, @maintainer

chore(quality-report): add initial simplified quality report JSON file
  quality_report_simplified.json
Owners: @danieleschmidt, @maintainer

feat(cli): add comprehensive CLI for Spin-Torque RL-Gym
  spin_torque_gym/cli.py
  spin_torque_gym/research/__init__.py
Owners: @danieleschmidt, @core-developers

feat(generation1): complete simple implementation - make it work
  spin_torque_gym/devices/__init__.py
  spin_torque_gym/physics/simple_solver.py
  test_simple_training.py
Owners: @danieleschmidt, @core-developers, @maintainer

feat(generation2): complete robust implementation - make it reliable
  spin_torque_gym/utils/robust_environment.py
  spin_torque_gym/utils/robust_solver.py
Owners: @danieleschmidt, @core-developers

feat(generation3): complete scalable implementation - make it scale
  spin_torque_gym/utils/scalable_environment.py
  spin_torque_gym/utils/scalable_solver.py
  test_generation3_scale_new.py
Owners: @danieleschmidt, @core-developers, @maintainer

feat(deployment): add production deployment infrastructure and comprehensive tests
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  DEPLOYMENT_GUIDE.md
  RESEARCH_SUMMARY.md
  deploy.sh
  docker/Dockerfile
  production-docker-compose.yml
  pyproject.toml
  spin_torque_gym/envs/spin_torque_env.py
  spin_torque_gym/utils/error_handling.py
  spin_torque_gym/utils/monitoring.py
  spin_torque_gym/utils/validation.py
  test_comprehensive_quality_gates.py
  test_generation3_scaling.py
Owners: @danieleschmidt, @maintainer, @devops-team, @security-team, @core-developers, @physics-team

feat(quantum): add comprehensive quantum-enhanced spintronic simulation module
  QUANTUM_RESEARCH_SUMMARY.md
  RESEARCH_PUBLICATION.md
  quantum_validation_benchmark.py
  spin_torque_gym/quantum/__init__.py
  spin_torque_gym/quantum/energy_landscape.py
  spin_torque_gym/quantum/error_correction.py
  spin_torque_gym/quantum/hybrid_computing.py
  spin_torque_gym/quantum/optimization.py
  spin_torque_gym/utils/cache.py
  spin_torque_gym/utils/performance_optimization.py
Owners: @danieleschmidt, @maintainer, @core-developers

feat(quantum_research): add quantum spintronics research enhancements and validation
  AUTONOMOUS_SDLC_ENHANCEMENT_REPORT.md
  coverage.json
  quantum_research_demo.py
  quantum_research_demo_simple.py
  spin_torque_gym/research/__init__.py
  spin_torque_gym/research/quantum_spintronics.py
  spin_torque_gym/research/validation_framework.py
  spin_torque_gym/visualization/__init__.py
  spin_torque_gym/visualization/research_plots.py
  test_coverage_boost.py
  test_coverage_enhancement.py
Owners: @danieleschmidt, @maintainer, @core-developers

feat(deployment): add production deployment setup with Docker and docs
  Dockerfile.prod
  PRODUCTION_DEPLOYMENT_GUIDE.md
  SDLC_IMPLEMENTATION_SUMMARY.md
  comprehensive_test_report.json
  docker-compose.prod.yml
  quality_gates_report.json
  scripts/entrypoint.prod.sh
  scripts/healthcheck.py
  spin_torque_gym/physics/simple_solver.py
  spin_torque_gym/utils/vectorized_operations.py
  test_comprehensive_sdlc.py
Owners: @danieleschmidt, @maintainer, @devops-team, @core-developers

feat(research): add comprehensive spintronic RL comparative analysis framework
  spin_torque_gym/research/comparative_algorithms.py
  spin_torque_gym/research/publication_framework.py
  spin_torque_gym/research/quantum_machine_learning.py
Owners: @danieleschmidt, @core-developers

feat(quantum): add comprehensive quantum research showcase and modules
  examples/quantum_research_showcase.py
  spin_torque_gym/quantum/__init__.py
  spin_torque_gym/quantum/advantage_verification.py
  spin_torque_gym/quantum/benchmarking.py
  spin_torque_gym/quantum/circuit_optimization.py
  spin_torque_gym/quantum/error_correction.py
  spin_torque_gym/quantum/hybrid_computing.py
  spin_torque_gym/research/quantum_machine_learning.py
  spin_torque_gym/research/validation_framework.py
Owners: @danieleschmidt, @maintainer, @core-developers

feat(sdlc): add TERRAGON autonomous SDLC completion report and initial tests
  TERRAGON_SDLC_COMPLETE.md
  quality_gates_report.json
  spin_torque_gym/quantum/hybrid_computing.py
  test_generation1_simple.py
Owners: @danieleschmidt, @maintainer, @core-developers

feat(deployment,research,physics,testing,error_handling): add global deployment, novel algorithms, and comprehensive tests
  TERRAGON_AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  spin_torque_gym/deployment/__init__.py
  spin_torque_gym/deployment/global_deployment.py
  spin_torque_gym/physics/simple_solver.py
  spin_torque_gym/research/novel_algorithms.py
  spin_torque_gym/utils/error_handling.py
  tests/test_comprehensive_suite.py
Owners: @danieleschmidt, @maintainer, @core-developers, @qa-team

.github/CODEOWNERS:

# CODEOWNERS File
# 
# This file defines code ownership and review requirements for the Spin-Torque RL-Gym repository.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global code owners - require review for all changes
* @danieleschmidt @maintainer

# GitHub configuration and workflows
/.github/ @danieleschmidt @devops-team
/.github/workflows/ @danieleschmidt @devops-team @security-team
/.github/dependabot.yml @danieleschmidt @devops-team

# CI/CD and automation
/scripts/ @danieleschmidt @devops-team
Makefile @danieleschmidt @devops-team

# Docker and containerization
/docker/ @danieleschmidt @devops-team @security-team
Dockerfile @danieleschmidt @devops-team @security-team
docker-compose*.yml @danieleschmidt @devops-team

# Core Python package
/spin_torque_gym/ @danieleschmidt @core-developers
/spin_torque_gym/core/ @danieleschmidt @core-developers
/spin_torque_gym/envs/ @danieleschmidt @core-developers @physics-team

# Testing infrastructure
/tests/ @danieleschmidt @qa-team @core-developers
/tests/unit/ @core-developers @qa-team
/tests/integration/ @danieleschmidt @core-developers @qa-team
/tests/benchmarks/ @performance-team @core-developers

# Documentation
/docs/ @danieleschmidt @technical-writers
README.md @danieleschmidt @technical-writers
CONTRIBUTING.md @danieleschmidt @community-team
SECURITY.md @danieleschmidt @security-team

# Configuration files
pyproject.toml @danieleschmidt @core-developers
requirements*.txt @danieleschmidt @core-developers
.pre-commit-config.yaml @danieleschmidt @devops-team

# Development environment
/.devcontainer/ @danieleschmidt @devops-team
/.vscode/ @danieleschmidt @devops-team
.env.example @danieleschmidt @devops-team

# Monitoring and observability
/docs/monitoring/ @danieleschmidt @devops-team @sre-team
/monitoring/ @danieleschmidt @devops-team @sre-team

# Security-related files
SECURITY.md @danieleschmidt @security-team
/.github/workflows/security-scan.yml @danieleschmidt @security-team @devops-team

# Legal and compliance
LICENSE @danieleschmidt @legal-team
COPYRIGHT @danieleschmidt @legal-team

# Metrics and automation
/.github/project-metrics.json @danieleschmidt @devops-team @product-managers
/scripts/collect-metrics.py @danieleschmidt @devops-team @data-team
/scripts/automation-helpers.py @danieleschmidt @devops-team

# Database and data
/docker/postgres/ @danieleschmidt @database-team @devops-team
**/migrations/ @danieleschmidt @database-team

# Research and experimental features
/experiments/ @danieleschmidt @research-team @physics-team
/notebooks/ @danieleschmidt @research-team @data-scientists

# Third-party integrations
/integrations/ @danieleschmidt @core-developers @integration-team

# Release and deployment
CHANGELOG.md @danieleschmidt @release-team
VERSION @danieleschmidt @release-team
